body {
    margin: 0;
}

/* hero styles */

header {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    background-color: #1f2937;
}

div.header-content {
    grid-column: 1 / 24;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    justify-content: center;
}

div.logo {
    align-self: center;
    color: #f9faf8;
    font-size: 24px;
    grid-column: 3 / 12;
    grid-row: 1 / 2;
}

nav {
    grid-column: 13 / 22;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

div.hero-text {
    grid-column: 3 / 12;
    grid-row: 1 / 2;
}

div.hero-text h1 {
    margin: 0%;
}

div.hero-text p {
    margin: 10px 0%;
}

section.hero {
    grid-column: 1 / 24;
    grid-row: 2 / 3;
}

div.hero-content {
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    justify-content: center;
    margin: 40px 0% 40px 0%;
    align-items: center;
    justify-content: center;
}

ul.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    column-gap: 10%;
    margin: 0%;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}


div.hero-image {
    grid-column: 13 / 22;
    grid-row: 1 / 2;
    align-self: center;
}

div.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
}

div.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    border-radius: 10%;
    color: white;
    border: 2px solid;
}

div.hero-image img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 430px) {
    div.hero-text p {
            font-size: 0.7em;
        }

    div.logo {
            font-size: 1em;
        }
    
    div.hero-text h1 {
            font-size: 1em;
        }

    div.hero-text {
        width: 120px;
    }

    div.hero-image img {
            width: 170px;
            height: auto;
        }

    div.hero-image {
            display: flex;
            justify-content: center;
            align-items: center;
    }

    button {
        font-size: 0.7em;
    }

    ul.nav-links {
        font-size: 0.8em;
    }

    nav {
        align-items: flex-start;
    }
}


@media screen and (min-width: 431px) and (max-width: 668px) {
    div.hero-text p {
        font-size: 1em;
    }

    div.logo {
        font-size: 1.5em;
    }

    div.hero-text h1 {
        font-size: 1.6em;
    }

    div.hero-text {
        width: 120px;
    }

    div.hero-image img {
        width: 100%;
        height: auto;
    }

    div.hero-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        font-size: 0.9em;
    }

    ul.nav-links {
        font-size: 0.8em;
    }

    nav {
        align-items: flex-start;
    }
}

/* media query for galaxy fold */

@media screen and (max-width: 280px) {
    div.hero-image img {
            width: 100px;
            height: auto;
        }

    ul.nav-links {
            margin-top: 5px;
            font-size: 0.6em;
        }
}





/* styles for tools info section */

main {
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: auto;
}

section.tools-info {
    grid-column: 1 / 24;
    grid-row: 1 / 2;
    display: inherit;
    grid-template-columns: inherit;
    grid-template-rows: repeat(2, auto);
}

div.tools-info-text {
    grid-column: 1 / 24;
    grid-row: 1 / 2;
    justify-self: center;
}

div.tools-info-images-section {
    grid-column: 1 / 24;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

div.tools-info-image-coat {
    width: 180px;
    height: auto;
    flex-shrink: auto;
}

div.tools-info-image-coat img {
    width: 180px;
    height: 180px;
}

