body {
    margin: 0;
}

/* hero styles */

header {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(2, auto);
    background-color: #1f2937;
}

div.header-content {
    grid-column: 2 / span 15;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
}

div.logo {
    align-self: center;
    color: #f9faf8;
    font-size: 24px;
}

section.hero {
    grid-column: 2 / span 15;
    grid-row: 2 / 3;
}

div.hero-content {
    display: flex;
    justify-content: space-between;
}

ul.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    column-gap: 10px;
}

a {
    text-decoration: none;
}


div.hero-image {
    justify-self: center;
    align-self: center;
}

div.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
}

div.hero-text p {
    font-size: 18px;
    color: #e5e7e8;
}

button {
    background-color: #3882f6;
    border-radius: 10%;
    color: white;
    border: 2px solid;
}

img {
    width: 100%;
    height: auto;
}