body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* hero styles */

header {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    background-color: #1f2937;
}

div.header-content {
    grid-column: 1 / 24;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    justify-content: center;
}

div.logo {
    align-self: center;
    color: #f9faf8;
    font-size: 24px;
    grid-column: 3 / 12;
    grid-row: 1 / 2;
}

nav {
    grid-column: 13 / 22;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

div.hero-text {
    grid-column: 3 / 12;
    grid-row: 1 / 2;
}

div.hero-text h1 {
    margin: 0%;
}

div.hero-text p {
    margin: 10px 0%;
}

section.hero {
    grid-column: 1 / 24;
    grid-row: 2 / 3;
}

div.hero-content {
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    justify-content: center;
    margin: 40px 0% 40px 0%;
    align-items: center;
    justify-content: center;
}

ul.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    column-gap: 10%;
    margin: 0%;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}


div.hero-image {
    grid-column: 13 / 22;
    grid-row: 1 / 2;
    align-self: center;
}

div.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
}

div.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    color: white;
    border: 2px solid;
    padding: 5px 25px;
}

button.first {
    border: none;
}

div.hero-image img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 430px) {
    div.hero-text p {
            font-size: 0.8em;
        }

    div.logo {
            font-size: 1em;
        }
    
    div.hero-text h1 {
            font-size: 1.2em;
        }

    div.hero-text {
        width: 120px;
    }

    div.hero-image img {
            width: 170px;
            height: auto;
        }

    div.hero-image {
            display: flex;
            justify-content: center;
            align-items: center;
    }

    button {
        font-size: 0.7em;
    }

    ul.nav-links {
        font-size: 0.8em;
    }

    nav {
        align-items: flex-start;
    }
}


@media screen and (min-width: 431px) and (max-width: 668px) {
    div.hero-text p {
        font-size: 1em;
    }

    div.logo {
        font-size: 1.5em;
    }

    div.hero-text h1 {
        font-size: 1.6em;
    }

    div.hero-text {
        width: 120px;
    }

    div.hero-image img {
        width: 100%;
        height: auto;
    }

    div.hero-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        font-size: 0.9em;
    }

    ul.nav-links {
        font-size: 0.8em;
    }

    nav {
        align-items: flex-start;
    }
}

/* media query for galaxy fold */

@media screen and (max-width: 280px) {
    div.hero-image img {
            width: 100px;
            height: auto;
        }

    ul.nav-links {
            margin-top: 5px;
            font-size: 0.6em;
        }
}





/* styles for tools info section */

main {
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: repeat(3, auto);
}

section.tools-info {
    grid-column: 1 / 24;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: auto 300px;
}

div.tools-info-text {
    grid-column: 4 / 20;
    grid-row: 1 / 2;
    justify-self: center;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 25px 0%;
}

div.tools-info-images-section {
    grid-column: 1 / 24;
    grid-row: 2 / 3;
    overflow-y: auto;
    margin: 0% auto 92px auto;

}

div.tools-info-image-coat {
    width: 90px;
    height: auto;
    flex-shrink: auto;
    margin: 0% 10px;
}

div.tools-info-image-coat img {
    width: 90px;
    height: 90px;
    background-color: white;
}

div.image-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



/* media query for the info section */

@media screen and (max-width: 430px) {
    div.tools-info-image-coat {
            width: 60px;
            height: auto;
            flex-shrink: auto;
        }

    div.tools-info-image-coat img {
            width: 60px;
            height: 60px;
        }

    div.tools-info-text {
        font-size: 1.1em;
    }

    section.tools-info {
        grid-template-rows: auto 198px;
    }

    div.image-text {
        font-size: 0.72em;
    }

    div.tools-info-images-section {
        margin: 0% auto 85px auto;
    }
        
}




/* Styles for quote section */
section.quote {
    grid-column: 1 / 24;
    grid-row: 2 / 3;
    justify-self: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: auto;
    background-color: #e5e7eb;
}

blockquote {
    grid-column: 4 / 20;
    grid-row: 1 / 2;
}

blockquote p {
    font-size: 36px;
    font-style: italic;
}

blockquote footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 13px;
    font-weight: 700;
    font-size: 24px;
}

/* media query styles for section.quote */
@media screen and (max-width: 430px) {
    blockquote p {
        font-size: 1.1em;
    }

    blockquote footer {
        font-size: 1em;
        font-weight: 600;
    }

    blockquote {
        grid-column: 2 / 22;
        grid-row: 1 / 2;
    }
}




/* style for call to action section */
section.sign-up {
    grid-column: 1 / 24;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: auto;
    padding-top: 105px;
    padding-bottom: 105px;
}

div.to-action-flex-container {
    grid-column: 3 / 22;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(4, 20px);
    background-color: #3882f6;
    padding: 30px 100px;
    border-radius: 10px;
}

p.heading-text {
    font-size: 24px;
    font-weight: 700;
}

p.sub-text {
    font-size: 18px;
}

div.to-action-flex-container p {
    margin: 0%;
    color: #f9faf8;
}

div.call-to-action-text {
    grid-column: 2 / 11;
    grid-row: 2 / 4;
    justify-self: center;
}

button.sign-up {
    grid-column: 14 / 17;
    grid-row: 2 / 4;
}


/* media query style for call to action section */
@media screen and (max-width: 430px) {
    p.heading-text {
        font-size: 1.1em;
        font-weight: 700;
    }

    p.sub-text {
        font-size: 0.8em;
    }

    div.to-action-flex-container {
        grid-column: 2 / 23;
        padding: 5px 10px;
    }

    div.call-to-action-text {
        grid-row: 1 / 5;
        justify-self: center;
        align-self: center;
    }

    section.sign-up {
        /* grid-column: 1 / 24;
        grid-row: 3 / 4;
        display: grid;
        grid-template-columns: repeat(23, 1fr);
        grid-template-rows: auto; */
        padding-top: 50px;
        padding-bottom: 50px;
        }

    button.sign-up {
        grid-column: 14 / 18;
        grid-row: 2 / 4;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}



/* style for footer */

footer.main {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

span {
    grid-column: 1 / 24;
    grid-row: 1 / 2;
    text-align: center;
}



/* media query style for footer */
@media screen and (max-width: 430px) {
    footer.main {
        font-size: 0.8em;
    }
}
